// VARIABLES
    // Colors
$color_hc_1: #FAA634;
$color_hc_2: #134294;
$color_hc_3: #A4AAD6;
$color_hc_4: #717BAF;
$color_hc_5: #586499;

$color_ac_1: #FF0000;
$color_ac_2: #F9C138;
$color_ac_3: #000;
$color_ac_4: #fff;

$color_bg_1: #0B2644;
$color_bg_2: #214C89;
$color_bg_3: #BEC6D3;

// Site Footer
#site-footer {
	padding-top: 48px;
	padding-bottom: 12px;
	color: $color_ac_4;
	ul { list-style-type: none; }
	a {
		@extend .text-decor-none;
		color: $color_ac_4;
	}

	// Footer Menu
	.footer-menu-wrapper {
		a {
			padding: 5px;
			&:hover,
			&:active {
				color: $color_hc_1;
			}
			&:after {
				content: "";
				position: absolute;
				display: block;
				top: 8px;
				right: 0;
				bottom: 4px;
				left: auto;
				border-right: 1px solid $color_ac_4;
			}
		}
		li:first-of-type > a { padding-left: 0; }
		li:last-of-type > a:after { content: none; }
	}

	// Footer Contacts Blocks
	.footer-contacts-wrapper {
		padding-left: 80px;
		margin-left: auto;
		.block {
			max-width: calc(100% / 3);
			padding-right: 30px;
			margin-bottom: 36px;
			a {
				color: $color_hc_1;
				&:hover,
				&:active {
					color: $color_hc_2;
				}
			}
			.title { font-weight: 700; }
			&:last-of-type { padding-right: 0; }
		}
		.phone-block { min-width: 208px; }
		.email-block { min-width: 255px; }
		.address-block { min-width: 290px; }
	}

	.right-wrapper {
		margin-left: auto;
		padding-left: 80px; 
	}
	// Copyrights Block
	.copyrights { margin-right: 40px; }

	// Social Links
	.socials-wrapper {
		margin-right: -5px;
		margin-left: auto;
		.link {
			margin-right: 4px;
			margin-left: 4px;
			.logo {
				width: 30px;
				height: 30px;
			}
		}
	}

	.sintec-wrapper { margin-left: 50px; }
}
#footer-row-1 { .right-wrapper { display: none; } }

@media( max-width: 1199px ) {
	#site-footer {
		padding-top: 48px;
		.footer-row-wrapper { flex-wrap: wrap; }
		.footer-menu-wrapper,
		.footer-contacts-wrapper,
		.footer-row-wrapper .right-wrapper,
		.footer-row-wrapper .left-wrapper {
			width: 100%;
		}
		.footer-row-wrapper .right-wrapper,
		.footer-contacts-wrapper {
			padding-left: 0;
		}
		#footer-row-1 .footer-row-wrapper {
			.footer-menu-wrapper {
				order: 3;
				margin-top: 20px;
			}
			.footer-contacts-wrapper {
				order: 1;
				.block { margin-bottom: 24px; }
			}
			.right-wrapper {
				order: 2;
				display: flex;
			}
			.address-block,
			.email-block {
				width: 40%;
				min-width: 40%;
			}
			.email-block,
			.phone-block {
				padding-right: 20px;
			}
			.phone-block {
				width: 20%;
				min-width: 20%;
			}
		}
		#footer-row-2 .footer-row-wrapper {
			margin-top: 24px;
			.right-wrapper {
				display: none;
			}
		}
	}
}

@media( max-width: 767px ) {
	body #site-footer {
		#footer-row-1 .footer-row-wrapper {
			.footer-menu-wrapper {
				order: 2;
				li,
				li a {
					width: 100%;
				}
				li a {
					padding-right: 0;
					padding-left: 0;
					&:after { content: none; }
				}
			}
			.footer-contacts-wrapper {
				order: 1;
				flex-wrap: wrap;
				margin-bottom: -8px;
				.block { margin-bottom: 8px; }
			}
			.right-wrapper {
				order: 3;
				margin-top: 30px;
			}
			.address-block,
			.email-block,
			.phone-block {
				width: 100%;
				min-width: 100%;
				padding-right: 0;
			}
			.socials-wrapper { margin-left: 0; }
		}
	}
	#footer-row-2 .footer-row-wrapper {
		flex-wrap: wrap;
		.left-wrapper {
			flex-wrap: wrap;
			margin-top: -8px;
			.copyrights,
			.developer {
				width: 100%;
				margin-top: 5px;
				margin-right: 0;
			}
			.copyrights {
				max-width: 266px;
				line-height: 2;
			}
		}
	}
}

