// VARIABLES
    // Colors
$color_hc_1: #FAA634;
$color_hc_2: #134294;
$color_hc_3: #A4AAD6;
$color_hc_4: #717BAF;
$color_hc_5: #586499;

$color_ac_1: #FF0000;
$color_ac_2: #F9C138;
$color_ac_3: #000;
$color_ac_4: #fff;

$color_bg_1: #0B2644;
$color_bg_2: #214C89;
$color_bg_3: #BEC6D3;

#site-content { margin-top: 60px; }
@media (max-width: 1919px) {
	#site-content { margin-top: calc(60px * 0.85); }
}

// Site Header
#site-header {
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	#mobile-menu-icon { display: none; }
	// Header Contacts
	.header-contacts-wrapper {
		height: 60px;
		color: $color_ac_4;
		background-color: $color_bg_1;
	}

	// Header Menu
	.header-menu-wrapper {
		transition: background-color 0.15s ease-in-out;
		#menu-header-menu {
			@extend .flex-vert-c;
			height: 80px;
			list-style: none;
			margin-right: -11.5px;
			margin-left: auto;
			transition: height 0.15s ease-in-out;
			.current-menu-item a { opacity: 0.25; }
			li {
				&:after {
					content: "";
					position: absolute;
					display: block;
					top: calc(11px + 4px);
					right: 0;
					bottom: calc(11px + 3px);
					left: auto;
					border: 1px solid $color_hc_1;
				}
				a {
					padding: 10px;
					@extend .text-decor-none;
					@extend .h5;
					color: $color_ac_4;
					font-size: 16px;
					line-height: 1.56;
					letter-spacing: -0.025em;
					&:hover,
					&:active {
						color: $color_hc_1;
						opacity: 1!important;
					}
				}
			}
			li:last-of-type:after { content: none; }
		}
	}
}

.header-contacts-wrapper,
#above-the-fold-section .contacts-wrapper {
	a {
		color: $color_ac_4;
		@extend .text-decor-none;
	}
	.bold {
		margin-right: 8px;
		font-size: 28px;
		letter-spacing: -0.06em;
		text-transform: none;
	}
	.normal {
		margin-right: 8px;
		font-size: 18px;
		letter-spacing: -0.025em;
		text-transform: none;
	}
	.icon-phone:before,
	.phone,
	.icon-mail:before,
	.email {
	  transition: color 0.1s ease-in-out!important;
	 }
	.phone-wrapper {
		margin-right: 40px;
		.icon-phone {
			margin-right: 15px;
			font-size: 30px;
		}
		.phone {
			letter-spacing: 0;
			color: $color_hc_1;
		}
		&:hover,
		&:active {
			.icon-phone:before,
			.phone {
				color: $color_hc_4!important;
			}
		}
	}
	.email-wrapper {
		margin-right: 10px;
		margin-left: auto;
		.icon-mail {
			margin-right: 10px;
			font-size: 24px;
		}
		&:hover,
		&:active {
			.icon-mail:before,
			.email {
				color: $color_hc_4!important;
			}
		}
	}
}


@media (max-width: 1919px) {
	#site-header {
		// Header Contacts
		.header-contacts-wrapper {
			height: calc(60px * 0.85);
		}

		// Header Menu
		.header-menu-wrapper {
			#menu-header-menu {
				height: calc(80px * 0.85);
				a {
					font-size: calc(16px * 0.85);
				}
			}
		}
	}
	.header-contacts-wrapper,
	#above-the-fold-section .contacts-wrapper {
		.bold {
			font-size: calc(28px * 0.85);
		}
		.normal {
			font-size: calc(18px * 0.85);
		}
		.phone-wrapper {
			.icon-phone {
				font-size: calc(30px * 0.85);
			}
		}
		.email-wrapper {
			.icon-mail {
				font-size: calc(24px * 0.85);
			}
		}
	}
}

.not--top #site-header .header-menu-wrapper {
	background-color: rgba($color_bg_2, 0.9);
	#menu-header-menu { height: 60px; }
}
@media (max-width: 1919px) {
	.not--top #site-header .header-menu-wrapper {
		#menu-header-menu { height: calc(60px * 0.85); }
	}
}