// VARIABLES
    // Colors
$color_hc_1: #FAA634;
$color_hc_2: #134294;
$color_hc_3: #A4AAD6;
$color_hc_4: #717BAF;
$color_hc_5: #586499;

$color_ac_1: #FF0000;
$color_ac_2: #F9C138;
$color_ac_3: #000;
$color_ac_4: #fff;

$color_bg_1: #0B2644;
$color_bg_2: #214C89;
$color_bg_3: #BEC6D3;


// Site Content CSS, which depends on header size
#site-content { margin-top: 60px; }
@media (max-width: 1919px) {
	#site-content { margin-top: calc(60px * 0.85); }
}
@media( max-width: 1199px ) {
	#site-content { margin-top: 47px; }
}

// Site Header
#site-header {
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	transition: transform 0.8s ease-in-out;
}

// Header Menu
.wrapper-for-mobile-menu {
	position: fixed;
	top: 60px;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 2;
	transition: transform 0.8s ease-in-out;
}
.header-menu-wrapper {
	transition: background-color 0.15s ease-in-out;
	&>.container>.row {
		margin-right: -15px;
		margin-left: -15px;
	}
	#menu-header-menu {
		@extend .flex-vert-c;
		height: 80px;
		list-style: none;
		margin-right: -11.5px;
		margin-left: auto;
		transition: height 0.15s ease-in-out;
		.current-menu-item a { opacity: 0.25; }
		li {
			&:after {
				content: "";
				position: absolute;
				display: block;
				top: calc(11px + 3px);
				right: 0;
				bottom: calc(11px + 4px);
				left: auto;
				border: 1px solid $color_hc_1;
			}
			a {
				padding: 10px;
				@extend .text-decor-none;
				@extend .h5;
				color: $color_ac_4;
				font-size: 16px;
				line-height: 1.56;
				letter-spacing: -0.025em;
				&:hover,
				&:active {
					color: $color_hc_1;
					opacity: 1!important;
				}
			}
		}
		li:last-of-type:after { content: none; }
	}
}
@media( max-width: 1919px ) {
	.header-menu-wrapper {
		#menu-header-menu {
			height: calc(80px * 0.85);
			li a {
				font-size: calc(16px * 0.85);
			}
		}
	}
}
@media( max-width: 1199px ) {
	.wrapper-for-mobile-menu {
		top: 47px;
		z-index: 666;
	}
	.header-menu-wrapper {
		background-color: $color_bg_2;
		#menu-header-menu {
			//height: calc(80px * 0.85);
			margin-right: -10px;
			li {
				a { font-size: 14px; }
				&:first-of-type { margin-left: -10px; }
			}
		}
	}
}
@media( max-width: 767px ) {
	.wrapper-for-mobile-menu {
		display: none;
		background-color: $color_bg_2;
		border-bottom: 1px solid rgba($color_bg_1, 0.4);
		.header-menu-wrapper {
			#menu-header-menu {
				height: auto!important;
				margin-right: 0;
				flex-wrap: wrap;
				li {
					width: 100%;
					&:first-of-type { margin-left: 0; }
					&:after {
						top: auto;
						right: 0;
						bottom: 0;
						left: 0;
						border: none;
						border-bottom: 1px solid $color_hc_1;
					}
					a {
						width: 100%;
						padding-top: 14px;
						padding-bottom: 14px;
					}
				}
			}
		}
	}
}

// Contacts Wrapper
.header-contacts-wrapper {
	height: 60px;
	color: $color_ac_4;
	background-color: $color_bg_1;
}
.header-contacts-wrapper,
#above-the-fold-section .contacts-wrapper {
	a {
		color: $color_ac_4;
		@extend .text-decor-none;
	}
	.bold {
		margin-right: 8px;
		font-size: 28px;
		letter-spacing: -0.06em;
		text-transform: none;
	}
	.normal {
		margin-right: 8px;
		font-size: 18px;
		letter-spacing: -0.025em;
		text-transform: none;
	}
	.icon-phone:before,
	.phone,
	.icon-mail:before,
	.email {
	  transition: color 0.1s ease-in-out!important;
	 }
	.phone-wrapper {
		padding-right: 40px;
		.icon-phone {
			margin-right: 15px;
			font-size: 30px;
		}
		.phone {
			letter-spacing: 0;
			color: $color_hc_1;
		}
		&:hover,
		&:active {
			.icon-phone:before,
			.phone {
				color: $color_hc_4!important;
			}
		}
	}
	.email-wrapper {
		margin-right: 10px;
		margin-left: auto;
		.icon-mail {
			margin-right: 10px;
			font-size: 24px;
		}
		&:hover,
		&:active {
			.icon-mail:before,
			.email {
				color: $color_hc_4!important;
			}
		}
	}
}
@media (max-width: 1919px) {
	.header-contacts-wrapper {
		height: calc(60px * 0.85);
	}
	.header-contacts-wrapper,
	#above-the-fold-section .contacts-wrapper {
		.bold {
			font-size: calc(28px * 0.85);
		}
		.normal {
			font-size: calc(18px * 0.85);
		}
		.phone-wrapper {
			.icon-phone {
				font-size: calc(30px * 0.85);
			}
		}
		.email-wrapper {
			.icon-mail {
				font-size: calc(24px * 0.85);
			}
		}
	}
}
@media( max-width: 1199px ) {
	.header-contacts-wrapper {
		height: 47px;
	}
	.header-contacts-wrapper,
	#above-the-fold-section .contacts-wrapper {
		.bold {
			font-size: 20px;
		}
		.normal {
			font-size: 14px;
		}
		.phone-wrapper {
			padding-right: 20px;
			.icon-phone {
				font-size: 16px;
			}
		}
		.email-wrapper {
			margin-right: 0;
			.icon-mail {
				font-size: 13px;
			}
		}
	}
}
@media( max-width: 767px ) {
	.header-contacts-wrapper {
		padding-top: 10px;
		height: auto!important;
		min-height: 47px;
		.normal,
		.bold {
			white-space: nowrap;
		}
	}
	.header-contacts-wrapper>.container>.row {
		flex-wrap: wrap;
	}
	.header-contacts-wrapper,
	#above-the-fold-section .contacts-wrapper {
		.phone-wrapper {
			padding-right: 0;
			.phone-contents-wrapper {
				flex-wrap: wrap;
			}
		}
		.phone-wrapper,
		.email-wrapper {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}

// Mobile Header
.mobile-header-wrapper {
	display: none;
	height: 56px;
	background-color: $color_bg_2;
	transition: background-color 0.15s ease-in-out;
	#header-quote-btn {
		height: 32px;
		line-height: 32px;
		min-width: 122px;
		font-size: 12px;
	}
	#mobile-menu-icon {
		padding: 10px;
		margin-right: -10px;
		margin-left: auto;
		position: relative;
		.inner {
			width: 26px;
			height: 16px;
		}
		span {
		  display: block;
		  position: absolute;
		  height: 2px;
		  width: 100%;
		  background-color: $color_ac_4;
		  opacity: 1;
		  left: 0;
		  transform: rotate(0deg);
		  transition: 0.2s ease-in-out;
		  border-radius: 1.5px;
		}
		span:nth-of-type(1) { top: 0px; }
		span:nth-of-type(2),
		span:nth-of-type(3) {
			top: 7px;
		}
		span:nth-of-type(4) { top: 14px; }
	}
	#mobile-menu-icon.open {
		span:nth-of-type(1),
		span:nth-of-type(4) {
		  opacity: 0;
		}
		span:nth-of-type(1) { transform: translate(0px,9px) scale(0.1); }
		span:nth-of-type(4) { transform: translate(0px,-9px) scale(0.1); }
		span:nth-of-type(2) { transform: rotate(45deg); }
		span:nth-of-type(3) { transform: rotate(-45deg); }
	}
}

@media( max-width: 767px ) {
	.mobile-header-wrapper {
		display: flex;
	}
}

// Scroll Effects
.not--top {
	.wrapper-for-mobile-menu {
		z-index: 666;
		.header-menu-wrapper {
			#menu-header-menu { height: 60px; }
		}
	}
	.mobile-header-wrapper,
	.header-menu-wrapper {
		background-color: rgba($color_bg_2, 0.9);
	}
	&.mobile-menu-open {
		.mobile-header-wrapper,
		.header-menu-wrapper {
			background-color: rgba($color_bg_2, 1);
		}
	}
}
@media (max-width: 1919px) {
	.not--top .wrapper-for-mobile-menu .header-menu-wrapper {
		#menu-header-menu { height: calc(60px * 0.85); }
	}
}
@media( max-width: 767px ) {
	//.not--top #site-header { transform: translateY(-94px); }
}