// VARIABLES
    // Colors
$color_hc_1: #FAA634;
$color_hc_2: #134294;
$color_hc_3: #A4AAD6;
$color_hc_4: #717BAF;
$color_hc_5: #586499;

$color_ac_1: #FF0000;
$color_ac_2: #F9C138;
$color_ac_3: #000;
$color_ac_4: #fff;

$color_bg_1: #0B2644;
$color_bg_2: #214C89;
$color_bg_3: #BEC6D3;

// Section General CSS
section,
.section,
#site-footer {
	@extend .section-bg;
}
.section-overlay {
	@extend .block-fit-parent;
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		height: calc(100% - 916px);
	}
	&.light {
		background-color: rgba($color_bg_2, 0.9);
		&:after { background-color: $color_bg_2; }
	}
	&.dark {
		background-color: rgba($color_bg_1, 0.9);
		&:after { background-color: $color_bg_1; }
	}
}
#site-footer {
	background-position-y: 100%!important;
	.section-overlay {
		&.light { background-color: rgba($color_bg_2, 0.95); }
		&.dark { background-color: rgba($color_bg_1, 0.95); }
	}
}
body #body-wrapper .no-background { color: $color_ac_3; }

.section-bg-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 916px;
	@extend .section-bg;
	&:after {
		content: '';
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		height: 150px;
	}
}
section.huge {
	.section-bg-img {
		&.light {
			&:after {
				background: scrim-gradient(
					to bottom,
					transparent,
					rgba($color_bg_2, 0.9)
				);
			}
		}
		&.dark {
			&:after {
				background: scrim-gradient(
					to bottom,
					transparent,
					rgba($color_bg_1, 0.9)
				);
			}
		}
	}
}

.title-block-wrapper,
.main-site-logo-wrapper {
	.title-block {
		@extend .flex-c-column;
		position: absolute;
		top: 0;
		right: 0;
		bottom: auto;
		left: 0;
		width: 100%;
	  	z-index: 2;
		.title {
			//margin-top: 10px;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.25;
			color: $color_bg_1;
			text-align: center;
		}
	}
	.decor-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: -40px;
		left: 0;
		overflow: hidden;
	}
  	.decor-1,
  	.decor-2 {
  		position: absolute;
  		display: block;
  		top: auto;
  		width: 100%;
  		height: 100%;
  	}
  	.decor-1,
  	.decor-line-1 {
  		right: 50%;
  		left: auto;
  		transform: rotate(-18.43deg);
  		transform-origin: 100% 100%;
  	}
  	.decor-2,
  	.decor-line-2 {
  		right: auto;
  		left: 50%;
  		transform: rotate(18.43deg);
  		transform-origin: 0 100%;
  	}
  	.decor-line-1,
  	.decor-line-2 {
		position: absolute;
		display: block;
		height: 1px;
		z-index: 3;
  	}
	.decor-line-1 {
		right: 50%;
		left: auto;
		background: scrim-gradient(
			to right,
			transparent,
			$color_ac_4
		);
	}
	.decor-line-2 {
		right: auto;
		left: 50%;
		background: scrim-gradient(
			to left,
			transparent,
			$color_ac_4
		);
	}
}
body .title-block-wrapper {
	width: 167px;
	height: 160px;
	margin-bottom: 75px;
	.shadow {
		@extend .block-hor-c;
		top: auto;
		bottom: -45px;
		width: 125%;
		height: 164px;
		@extend .icon-bg;
		background-image: url(images/shadow-2.png);
	}
	.decor-1,
	.decor-2 {
  		background-color: $color_ac_2;
  		bottom: 70px;
	}
	.decor-line-1,
	.decor-line-2 {
		width: 88px;
		bottom: 34px;
	}
	.title-block {
		height: 130px;
		padding: 22px;
	  	background: linear-gradient(to top, $color_ac_2, $color_hc_1)!important;
		.title {
			//margin-top: 10px;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.25;
			color: $color_bg_1;
			text-align: center;
		}
	}
}
body .main-site-logo-wrapper {
	width: 285px;
	height: 230px;
	margin-bottom: 50px;
	.title-block { height: 187px; }
	.decor-1,
	.decor-2,
	.title-block {
		padding: 24px;
  		background-color: rgba($color_hc_3, 0.5);
	}
	.decor-wrapper {
		top: auto;
		height: 83px;
	}
	.decor-1,
	.decor-2 {
		bottom: 83px;
	}
	.decor-line-1,
	.decor-line-2 {
		width: 142px;
		bottom: 50px;
	}
	#main-site-logo {
		width: 100%;
		height: 100%;
		text-align: center;
	}
}


// Above The Fold Section
#above-the-fold-section {
	.page-content {
		color: $color_ac_4;
		.text {
			margin-top: 15px;
			br {
				content: "";
				display: inline-block;
				height: 15px;
			}
		}
		.media {
			width: 100%;
			margin-top: 30px;
		}
	}
}
#above-the-fold-section.arrow-down {
	&:after {
		@extend .icon;
		@extend .icon-down:before;
		position: absolute;
		display: block;
		top: auto;
		right: auto;
		bottom: 35px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 16px;
	}
}

	// Default Template
.page-template-default {
	#above-the-fold-section {
		padding-top: 175px;
		padding-bottom: 66px;
		.page-content {
			padding: 42px 22px 25px;
			background-color: $color_bg_1;
			text-align: center;
			#main-site-logo { margin-bottom: 48px; }
			.text { margin-top: 20px; }
		}
		.page-content-wrapper {
			width: 440px;
			.shadow {
				@extend .block-hor-c;
				top: auto;
				bottom: -70px;
				width: 107%;
				height: 168px;
				@extend .icon-bg;
				background-image: url(images/shadow-1.png);
			}
		}
		.add-blocks-wrapper { margin-top: 55px; }
	}
}
@media (max-width: 1919px) {
	.page-template-default {
		#above-the-fold-section {
			.page-content-wrapper {
				width: calc(440px * 0.85);
			}
		}
	}
}

	// Services Template
.page-template-page-services {
	#above-the-fold-section {
		padding-bottom: 148px;
	}
}
.above-the-fold-wrapper.services-wrapper {
	.add-blocks-wrapper {
		margin-top: -140px;
	}
}

	// About Us Template
.page-template-page-about-us {
	#above-the-fold-section {
		padding-bottom: 90px;
		.page-content {
			width: 598px;
		}
		.add-blocks-wrapper { margin-top: -170px; }
	}
}
@media (max-width: 1919px) {
	.page-template-page-about-us {
		#above-the-fold-section {
			.page-content { width: calc(598px * 0.85); }
		}
	}
}

	// Contact Us Template
.page-template-page-contact-us {
	#above-the-fold-section {
		padding-bottom: 70px;
		.page-content-wrapper {
			width: 756px;
			.page-content,
			.address-wrapper {
				width: 598px;
			}
			.contacts-wrapper {
				width: 100%;
				padding: 35px 40px 33px;
				margin-top: 60px;
				border: 1px solid $color_ac_4;
				border-radius: 4px;
				a:last-of-type { margin-top: 33px; }
			}
			.address-wrapper {
				margin-top: 26px;
				color: $color_ac_4;
				.title {
					text-transform: uppercase;
					font-weight: 700;
				}
				a {
					color: $color_ac_4;
					@extend .text-decor-none;
					&:hover,
					&:active {
						color: $color_hc_1;
					}
				}
			}
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-contact-us {
		#above-the-fold-section {
			.page-content-wrapper {
				width: calc(756px * 0.85);
				.page-content,
				.address-wrapper {
					width: calc(598px * 0.85);
				}
			}
		}
	}
}

	// Testimonials Template
.page-template-page-testimonials {
	#above-the-fold-section {
		padding-bottom: 87px;
		.page-content {
			width: 598px;
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-testimonials {
		#above-the-fold-section {
			.page-content {
				width: calc(598px * 0.85);
			}
		}
	}
}

	// Careers Template
.page-template-page-careers {
	#above-the-fold-section {
		padding-bottom: 108px;
		.page-content {
			width: 598px;
			max-width: 100%;
		}
		.add-blocks-wrapper {
			.block {
				width: 440px;
				max-width: 100%;
			}
			.media-block { width: 100%!important; }
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-careers {
		#above-the-fold-section {
			.page-content {
				width: calc(598px * 0.85);
			}
		}
	}
}


	// Background Map
.background-map-wrapper {
	display: flex;
	min-height: 850px;
	margin-top: -175px;
	flex-grow: 1;
	.background-map-inner {
		display: flex;
	}
}

	// Above The Fold List Wrapper
.above-the-fold-list-wrapper {
	width: 166px;
	margin: calc(175px + 83px) 30px 15px auto;
	color: $color_ac_4;
	.title {
		margin-bottom: 9px;
		text-transform: none;
		line-height: 1.25;
	}
	ul {
		padding-right: 16px;
		margin-bottom: -10px;
	}
	li {
		padding-left: 18px;
		margin-bottom: 10px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			right: auto;
			bottom: auto;
			border-radius: 50%;
		}
		&:before {
			top: 3.5px;
			left: 0;
			width: 7px;
			height: 7px;
			background-color: $color_ac_4;
		}
		&.bold {
			&:after {
				top: 1.5px;
				left: -2px;
				width: 11px;
				height: 11px;
				border: 1px solid $color_ac_4;
			}
		}
		&.bold.colored {
			&:before { background-color: $color_hc_1; }
			&:after { border: 1px solid $color_hc_1; }
		}
		&.light {
			&:before {
				background-color: transparent;
				border: 1px solid $color_ac_4;
			}
		}
		&.light.colored {
			&:before { border: 1px solid $color_hc_1; }
		}
		&.colored {
			color: $color_hc_1;
		}
	}
}

	// Add Blocks Wrapper
.add-blocks-wrapper {
	display: inline-flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 440px;
	margin-left: auto;
	margin-bottom: -20px;
	.block {
		width: 100%;
		padding: 20px 20px 24px;
		margin-bottom: 20px;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		color: $color_ac_4;
	}
	.media-block {
		padding: 0!important;
		border: 0 solid transparent!important;
	}
}
.no-background {
	.add-blocks-wrapper {
		.block {
			color: $color_ac_3;
		}
	}
}
@media (max-width: 1919px) {
	.add-blocks-wrapper {
		width: calc(440px * 0.85);
	}
}

	// Quote Block
.quote-block {
	ul {
		margin-top: 15px;
		li { line-height: 1.34; }
	}
	.btn { margin-top: 30px; }
}

	// Call Us Block
.call-us-block {
	.title { margin-bottom: 25px; }
	.phone-wrapper {
		margin-bottom: 10px;
		&:hover,
		&:active {
			.icon-phone:before,
			.phone {
				color: $color_hc_4;
			}
		}
	}
	.icon-phone {
		font-size: 30px;
		margin-right: 10px;
	}
	.icon-phone:before,
	.phone {
		transition: color 0.1s ease-in-out;
	}
	.phone { color: $color_hc_1; }
}

// Contact Form
.contact-form-block {
	padding: 20px 30px 23px 22px!important;
	.title {
		max-width: 360px;
		margin-bottom: 20px;
	}
}

// List Blocks
.page-content,
.quote-block,
.block-with-list {
	.list {
		margin-bottom: -10px;
		li {
			padding-left: 20px;
			margin-bottom: 10px;
			&:before {
				@extend .icon;
				@extend .icon-check;
				position: absolute;
				display: block;
				top: 7px;
				right: auto;
				bottom: auto;
				left: 0;
				font-size: 10px;
			}
		}
		li.highlight {
			color: $color_hc_1;
			font-weight: 700;
			&:before,
			&:after {
				color: $color_hc_1!important;
			}
		}
	}
}


// About Us Section
.about_us_section { padding-bottom: 95px; }
.about-us-wrapper {
	margin-top: 18px;
	.block {
		display: flex;
		width: 597px;
		margin-bottom: 90px;
		&:nth-of-type(1) {
			.icon-wrapper {
				.icon:before {
					@extend .icon-bulb:before;
					font-size: 108px;
				}
			}
		}
		&:nth-of-type(2) {
			.icon-wrapper {
				.icon:before {
					@extend .icon-shield:before;
					font-size: 109px;
				}
			}
		}
		&:nth-of-type(2n+2) {
			margin-left: auto;
		}
		.title,
		.text {
			width: 100%;
		}
		.title {
			color: $color_hc_2;
			margin-bottom: 14px;
			text-transform: uppercase;
		}
		.text { margin-bottom: 30px; }
		.link {
			display: inline-block;
			padding-right: 18px;
			align-self: flex-end;
			font-weight: 700;
			line-height: 1.333;
			color: $color_hc_2;
			text-transform: uppercase;
			@extend .text-decor-none;
			&:after {
				@extend .icon;
				@extend .icon-arrow-right:before;
				@extend .block-vert-c;
				right: 0;
				font-size: 12px;
				color: $color_hc_2;
				transition: color 0.1s ease-in-out;
			}
			&:hover,
			&:active {
				color: $color_hc_1;
				&:after {
					color: $color_hc_1;
				}
			}
		}
		.icon-wrapper { padding-top: 5px; }
	}
}
@media (max-width: 1919px) {
	.about-us-wrapper {
		.block {
			width: calc(597px * 0.85);
		}
	}
}
.about-us-wrapper,
.services-wrapper {
	.icon-wrapper {
		min-width: 115px;
		max-width: 115px;
		padding-right: 20px;
		.icon {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}

// Services Section
.services_section { padding-bottom: 40px; }
.services-wrapper {
	.page-content,
	.right-block {
		margin-bottom: 90px;
	}
	.page-content {
		display: flex;
		width: 597px;
		margin-right: 60px;
		margin-bottom: 90px;
		.title {
			color: $color_ac_4;
			margin-bottom: 15px;
		}
		.list {
			margin-bottom: 0;
			li {
				margin-bottom: 11px;
				color: $color_hc_3;
				&:before { color: $color_hc_3; }
			}
		}
		.additional-text {
			font-size: 16px;
			line-height: 1.56;
			color: $color_hc_1;
			text-transform: none;
		}
		.btn { margin-top: 36px; }
		.icon-wrapper {
			.icon:before {
				@extend .icon-services:before;
				font-size: 156px;
			}
		}
	}
	.right-block {
		width: 756px;
		margin-left: auto;
		.default-content-section-block {
			margin-bottom: 34px;
			&:last-of-type { margin-bottom: 0; }
			.title-wrapper {
				@extend .flex-vert-c;
				width: 316px;
				min-height: 32px;
				.decor {
					flex-grow: 1;
					opacity: 0;
					height: 1px;
					background-color: $color_ac_4;
					transition: opacity 0.1s ease-in-out;
				}				
				&:hover,
				&:active {
					.title {
						color: $color_ac_4;
						text-decoration: underline;
						&:before {
							@extend .icon-minus:before;
							color: $color_ac_4;
						}
					}
					.decor {
						opacity: 1;
					}				
					&+.text { opacity: 1; }
				}
			}
			.title {
				width: auto;
				max-width: calc(100% - 47px - 30px);
				padding-right: 8px;
				margin-left: 47px;
				color: $color_hc_4;
				line-height: 1.2;
				text-transform: none;
				text-decoration: none;
				transition: color 0.1s ease-in-out;
				&:before {
					@extend .icon;
					@extend .icon-plus:before;
					position: absolute;
					top: -1px;
					right: auto;
					left: -47px;
					bottom: auto;
					font-size: 32px;
					transition: color 0.1s ease-in-out;
				}
				&:after {
					@extend .icon-minus:before;
					@extend .visuallyhidden;
				}
			}
			.text {
				@extend .block-vert-c;
				right: 33px;
				left: auto;
				width: calc(100% - 316px - 33px);
				padding: 10px 15px;
				color: $color_ac_4;
				border: 1px solid $color_ac_4;
				border-radius: 4px;
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
			}
		}
	}
}
@media (max-width: 1919px) {
	.services-wrapper {
		.page-content {
			min-width: calc(597px * 0.85);
			width: calc(597px * 0.85);
		}
		.right-block {
			max-width: calc(753px * 0.85);
			width: auto;
			flex-grow: 1;
			.default-content-section-block {
				.text {
					right: 0;
					width: calc(100% - 316px);
				}
			}
		}
	}
}

// Default Content Section
.default_content_section { padding-bottom: 100px; }
.default-content-wrapper {
	color: $color_ac_4;	
	.section-content,
	.right-block {
		width: 440px;
	}
	.section-content {
		.text { margin-top: 15px; }
		.media {
			width: 100%;
			margin-top: 25px; 
		}
	}
	.right-block {
		padding: 20px 20px 24px;
		margin-top: -120px;
		margin-left: auto;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		.block {
			margin-bottom: 35px;
			&:last-of-type { margin-bottom: 0; }
			.title {
				font-size: 25px;
				letter-spacing: 0;
				line-height: 1.2;
			}
			.text,
			.list {
				margin-top: 15px;
			}
		}
		.block-with-list {
			ul {
				list-style-type: none;
				li { line-height: 1.34; }
			}
		}
	}
}

@media (max-width: 1199px) {
	.default-content-wrapper {
		.section-content,
		.right-block {
			width: calc(440px * 0.85);
		}
		.right-block .block {
			.title { font-size: calc(25px * 0.85); }
		}
	}
}

// Team Section
.team_section {
	padding-bottom: 125px;
	.section-content {
		.title-wrapper {
			width: 598px;
			@extend .flex-vert-c;
			margin-bottom: 35px;
			color: $color_hc_2;
			.icon {
				font-size: 80px;
				margin-right: 30px;
				&:before {
					@extend .icon-team:before;
				}
			}
		}
	}
}
.team-wrapper {
	margin: 0 -15px -35px;
	.team-block {
		width: calc(20% - 30px);
		margin: 0 15px 35px;
		text-align: center;
		p { line-height: 1.333; }
		.img-wrapper {
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 20px;
			img {
				border-radius: 4px;
				@extend .block-c;
			}
		}
		.name,
		.position {
			color: $color_hc_2;
		}
		.phone,
		.email {
			@extend .text-decor-none;
			color: $color_hc_1;
			&:hover,
			&:active {
				color: $color_hc_2;
			}
		}
		.name {
			line-height: 1.25;
		}
		.phone-wrapper {
			margin-top: 15px;
		}
	}
}
@media (max-width: 1919px) {
	.team-wrapper {
		.team-block {
			width: calc(25% - 30px);
		}
	}
}

// History Section
.history_section {
	padding-bottom: 187px;
	background-color: $color_bg_3;
	.section-content {
		.title-wrapper {
			@extend .flex-vert-c;
			width: 598px;
			margin-bottom: 45px;
			color: $color_hc_2;
			.icon {
				font-size: 80px;
				margin-right: 30px;
				&:before {
					@extend .icon-history:before;
				}
			}
		}
	}
}
.history-wrapper {
	display: flex;
	.history-block {
		display: flex;
		flex-direction: column;
		min-width: 283.5px;
		max-width: 283.5px;		
		margin-right: 13px;
		margin-left: 13px;
		text-align: center;
		.decor-vert-line {
			flex-grow: 1;
			min-height: 30px;
			&:before {
				content: '';
				@extend .block-hor-c;
				top: 0;
				bottom: 0;
				width: 1px;
				background-color: $color_ac_3;
			}
			&:after {
				content: '';
				@extend .block-hor-c;
				top: auto;
				bottom: -4px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $color_ac_3;
			}
		}
		.date {
			margin-bottom: 10px;
			color: $color_hc_2;
			.year { font-weight: 400; }
		}
		.text {
			padding-bottom: 10px;
		}
	}
	.main-year-block {
		@extend .flex-vert-b;
		.main-year {
			@extend .flex-vert-c;
			height: 80px;
			padding: 20px;
			margin-bottom: -40px;
			font-weight: 400;
			color: $color_ac_4;
			background-color: $color_bg_3;
			white-space: nowrap;
		}
	}
}

.nicescroll-rails.nicescroll-rails-hr {
	&:before {
		content: "";
		@extend .block-vert-c;
		right: 0;
		left: 0;
		height: 1px;
		border-bottom: 1px dashed $color_ac_3;
	}
}
.nicescroll-cursors {
	&:before,
	&:after {
		@extend .block-vert-c;
		@extend .icon;
		font-size: 15px;
	}
	&:before {
		right: auto;
		left: 11px;
		@extend .icon-arrow-slider:before;
		transform: rotate(180deg) translateY(-50%);
		transform-origin: 50% 0%;
	}
	&:after {
		right: 11px;
		left: auto;
		@extend .icon-arrow-slider:before;
	}
	.cursor-inner {
		@extend .block-c;
		width: 1px;
		height: 15px;
		background-color: $color_ac_4;
		&:before,
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: $color_ac_4;
		}
		&:before {
			left: -8px;
			right: auto;
		}
		&:after {
			left: auto;
			right: -8px;
		}
	}
}

.history-wrapper {
	.decor-line {
		position: absolute;
		display: block;
		top: auto;
		right: 0;
		bottom: 85px;
		left: 0;
		height: 1px;
		background: $color_ac_3;
	}
	.gradient {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 113px;
		z-index: 6;
	}
	.history-inner {
		padding-right: 113px;
		padding-bottom: 85px;
		padding-left: 113px;
		overflow-x: auto;
		width: 100%;
		z-index: 6;
	}
	.gradient-left {
		right: auto;
		left: 0;
		background: scrim-gradient(
			to right,
			$color_bg_3,
			transparent
		);
	}
	.gradient-right {
		right: 0;
		left: auto;
		background: scrim-gradient(
			to left,
			$color_bg_3,
			transparent
		);
	}
	.history-inner-wrapper {
		display: flex;
		flex-wrap: nowrap;
		z-index: 6;
	}
}


// Map Section
#google-maps-section {
	padding-top: 26%;
	#acf-map {
		@extend .block-fit-parent;
	}
}
@media (max-width: 1439px) {
	#google-maps-section {
		padding-top: 33%;
	}
}


// Get a Quote Form
.get-a-quote-form-open {
	a[href='#get-a-quote-form'] { opacity: 0.25; }
}
.get-a-quote-form-block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	@extend .flex-c-column;
	background-color: rgba($color_ac_3, 0.7);
	z-index: 999;
	#close-quote-form {
		position: absolute;
		top: 5px;
		right: 5px;
		@extend .icon;
		width: 24px;
		height: 24px;
		color: $color_bg_1;
		z-index: 9999;
		&:hover,
		&:active {
			color: $color_bg_1;
		}
		&:before {
			@extend .icon-close:before;
			@extend .block-c;
			font-size: 14px;
		}
	}
	&.hidden form { opacity: 0; }
	form {
		max-width: 912px;
		padding: 25px 30px 30px;
		background-color: $color_ac_4;
		border-radius: 4px;
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
		p { text-align: center; }
		.title {
			color: $color_bg_1;
			text-align: center;
			max-width: 360px;
			@extend .margin-auto;
			margin-bottom: 27px;
		}
		.form-contents {
			display: flex;
			margin-right: -55px;
			.fieldset-wrapper { margin-right: 55px; }
		}
		fieldset { width: 384px; }
		input,
		.input,
		textarea,
		.textarea {
			color: $color_bg_1;
			border: 1px solid $color_hc_5;
			border-radius: 4px;
			padding-right: 14px;
			padding-left: 14px;
			&.valid {
				border: 1px solid $color_hc_5!important;
			}
		}
		input,
		.input {
			line-height: 38px;
			&[type='submit'] { border: 0 solid transparent; }
		}
		textarea,
		.textarea {
			height: 142px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		label,
		.label {
			padding-left: 0;
			color: $color_hc_5;
		}
	}
}


// Testimonials Section
.testimonials-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: -15px;
	.testimonial-block {
		width: calc(50% - 30px);
		padding: 30px 30px 25px;
		margin: 15px;
		color: $color_ac_4;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		.footnote {
			font-weight: 700;
			font-style: italic;
			margin-top: 30px;
		}
	}
}


// Leave Your Feedback Form
.feedback-form-block {
	margin-top: 80px;
	margin-bottom: 68px;
	.decor {
		position: absolute;
		display: block;
		top: auto;
		right: auto;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%) rotate(45deg);
		transform-origin: 50% 50%;
		background-color: $color_ac_4;
		width: 96px;
		height: 96px;
		z-index: 1;
	}
	form {
		max-width: 912px;
		padding: 50px 60px 57px;
		background-color: $color_ac_4;
		border-radius: 25px;
		z-index: 2;
		p { text-align: center; }
		.title {
			@extend .h1;
			color: $color_hc_2;
			text-align: center;
			max-width: 598px;
			@extend .margin-auto;
			margin-bottom: 30px;
		}
		.form-contents {
			display: flex;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
		}
		fieldset,
		.fieldset {
			width: calc(100% - 30px);
			margin-right: 15px;
			margin-left: 15px;
			&.half { width: calc(50% - 30px); }
		    &.add-required {
		      label span:after,
		      .label span:after {
		        content: '*';
		        color: $color_ac_1;
		      }
		    }
		}
		input,
		.input,
		textarea,
		.textarea {
			color: #808080;
			border: 1px solid #808080;
			border-radius: 4px;
			padding-right: 14px;
			padding-left: 14px;
			&.valid {
				border: 1px solid #808080!important;
			}
		}
		input,
		.input {
			line-height: 38px;
			&[type='submit'] { border: 0 solid transparent; }
		}
		textarea,
		.textarea {
			height: 227px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		label,
		.label {
			padding-left: 0;
			color: #808080;
		}
		fieldset,
		.fieldset,
		label,
		.label,
		.wpcf7-form-control-wrap {
			display: block!important;
		}
		label,
		.label,
		.wpcf7-form-control-wrap {
			width: 100%;
		}
	}
}


// Careers Wrapper
.page-template-page-careers {
	.above-the-fold-wrapper {
		margin: -15px;
		&>.left-block,
		&>.add-blocks-wrapper {
			width: calc(50% - 30px)!important;
			margin: 15px;
		}
	}
}
.careers-wrapper {
	width: 100%;
	margin-top: 75px;
	.careers-block {
		margin-bottom: 30px;
		color: $color_ac_4;
		&.active {
			.title-wrapper {
				.title {
					color: $color_hc_1;
					&:before {
						@extend .icon-minus:before;
						color: $color_hc_1!important;
					}
				}
			}
			.title { color: $color_hc_1!important; }
		}
		.block { margin-bottom: 20px; }
		.title-wrapper {
			@extend .flex-vert-c;
			@extend .text-decor-none;
			padding-bottom: 10px;
			color: $color_ac_4;
			.title {
				margin-left: 47px;
				text-transform: none;
				&:before {
					@extend .icon;
					@extend .icon-plus:before;
					position: absolute;
					top: -1px;
					right: auto;
					left: -47px;
					bottom: auto;
					font-size: 32px;
					color: $color_ac_4!important;
					transition: color 0.1s ease-in-out;
				}
				&:after {
					@extend .icon-minus:before;
					@extend .visuallyhidden;
				}
			}
			&:hover,
			&:active {
				.title {
					color: $color_hc_1;
					&:before {
						@extend .icon-minus:before;
						color: $color_hc_1!important;
					}
				}
			}
		}
		.content-wrapper {
			display: none;
			padding-top: 10px;
			border-bottom: 1px solid $color_ac_4;
			.title { font-weight: 700; }
			.text,
			.list {
				margin-top: 12px;
			}
			.list { list-style-type: none; }
		}
		.footnote-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-top: 25px;
			margin-bottom: 30px;
			.text {
				margin-top: 0;
				@extend .nbsp-after;
			}
			a {
				@extend .text-decor-none;
				color: $color_hc_1;
				&:hover,
				&:active {
					color: $color_hc_2;
				}
			}
		}
	}
}