// VARIABLES
    // Colors
$color_hc_1: #FAA634;
$color_hc_2: #134294;
$color_hc_3: #A4AAD6;
$color_hc_4: #717BAF;
$color_hc_5: #586499;

$color_ac_1: #FF0000;
$color_ac_2: #F9C138;
$color_ac_3: #000;
$color_ac_4: #fff;

$color_bg_1: #0B2644;
$color_bg_2: #214C89;
$color_bg_3: #BEC6D3;

// Body show after DOM has been loaded
body {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	&.content-loaded { opacity: 1; }
}

// Section General CSS
section,
.section,
#site-footer {
	@extend .section-bg;
}
#above-the-fold-section {
	.section-overlay {
		&.light { background-color: rgba($color_bg_2, 0.9); }
		&.dark { background-color: rgba($color_bg_1, 0.9); }
	}
}
@media( max-width: 1199px ) {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 0!important;
		}
	}
}
.section-overlay {
	@extend .block-fit-parent;
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		height: calc(100% - 916px);
	}
	&.light {
		background-color: rgba($color_bg_2, 0.8);
		&:after { background-color: $color_bg_2; }
	}
	&.dark {
		background-color: rgba($color_bg_1, 0.8);
		&:after { background-color: $color_bg_1; }
	}
}

#site-footer {
	background-position-y: 100%!important;
	.section-overlay {
		&.light { background-color: rgba($color_bg_2, 0.95); }
		&.dark { background-color: rgba($color_bg_1, 0.95); }
	}
}
body #body-wrapper .no-background { color: $color_ac_3; }

.section-bg-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 916px;
	@extend .section-bg;
	&:after {
		content: '';
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		height: 150px;
	}
}
section.huge {
	.section-bg-img {
		&.light {
			&:after {
				background: scrim-gradient(
					to bottom,
					transparent,
					$color_bg_2
				);
			}
		}
		&.dark {
			&:after {
				background: scrim-gradient(
					to bottom,
					transparent,
					$color_bg_1
				);
			}
		}
	}
}

.title-block-wrapper,
.main-site-logo-wrapper {
	z-index: 2;
	.title-block {
		@extend .flex-c-column;
		position: absolute;
		top: 0;
		right: 0;
		bottom: auto;
		left: 0;
		width: 100%;
	  	z-index: 2;
		.title {
			//margin-top: 10px;
			font-size: 16px;
			letter-spacing: 0;
			text-transform: uppercase;
			line-height: 1.25;
			color: $color_bg_1;
			text-align: center;
		}
	}
	.decor-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: -40px;
		left: 0;
		overflow: hidden;
	}
  	.decor-1,
  	.decor-2 {
  		position: absolute;
  		display: block;
  		top: auto;
  		width: 100%;
  		height: 100%;
  	}
  	.decor-1,
  	.decor-line-1 {
  		right: 50%;
  		left: auto;
  		transform: rotate(-18.43deg);
  		transform-origin: 100% 100%;
  	}
  	.decor-2,
  	.decor-line-2 {
  		right: auto;
  		left: 50%;
  		transform: rotate(18.43deg);
  		transform-origin: 0 100%;
  	}
  	.decor-line-1,
  	.decor-line-2 {
		position: absolute;
		display: block;
		height: 1px;
		z-index: 3;
  	}
	.decor-line-1 {
		right: 50%;
		left: auto;
		background: scrim-gradient(
			to right,
			transparent,
			$color_ac_4
		);
	}
	.decor-line-2 {
		right: auto;
		left: 50%;
		background: scrim-gradient(
			to left,
			transparent,
			$color_ac_4
		);
	}
}
@media( max-width: 767px ) {
	.title-block-wrapper,
	.main-site-logo-wrapper {
		.title-block {
			.title {
				font-size: 11px;
			}
		}
	}
}
body .title-block-wrapper {
	width: 167px;
	height: 160px;
	margin-bottom: 75px;
	.shadow {
		@extend .block-hor-c;
		top: auto;
		bottom: -45px;
		width: 125%;
		height: 164px;
		@extend .icon-bg;
		background-image: url(images/shadow-2.png);
	}
	.decor-1,
	.decor-2 {
  		background-color: $color_ac_2;
  		bottom: 70px;
	}
	.decor-line-1,
	.decor-line-2 {
		width: 88px;
		bottom: 34px;
	}
	.title-block {
		height: 130px;
		padding: 22px;
	  	background: linear-gradient(to top, $color_ac_2, $color_hc_1)!important;
		.title {
			//margin-top: 10px;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.25;
			color: $color_bg_1;
			text-align: center;
		}
	}
}
@media( max-width: 1199px ) {
	body  section .title-block-wrapper {
		width: 156px;
		height: 148px;
		margin-bottom: 60px!important;
		.decor-1,
		.decor-2 {
	  		bottom: 65px;
		}
		.decor-line-1,
		.decor-line-2 {
			width: 80px;
			bottom: 28px;
		}
		.title-block {
			height: 123px;
			padding: 16px;
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper section .title-block-wrapper {
		width: 95px;
		height: 90px;
		margin-bottom: 44px!important;
		.decor-1,
		.decor-2 {
	  		bottom: 56px;
		}
		.decor-line-1,
		.decor-line-2 {
			width: 50px;
			bottom: 19px;
		}
		.title-block {
			height: 74px;
			.title {
				font-size: 11px;
			}
		}
	}
}
body .main-site-logo-wrapper {
	width: 285px;
	height: 230px;
	margin-bottom: 85px;
	.title-block { height: 187px; }
	.decor-1,
	.decor-2,
	.title-block {
		padding: 24px;
  		background-color: rgba($color_hc_3, 0.5);
	}
	.decor-wrapper {
		top: auto;
		height: 83px;
	}
	.decor-1,
	.decor-2 {
		bottom: 83px;
	}
	.decor-line-1,
	.decor-line-2 {
		width: 142px;
		bottom: 50px;
	}
	#main-site-logo {
		width: 100%;
		height: 100%;
		text-align: center;
	}
}
@media( max-width: 1199px ) {
	body .main-site-logo-wrapper {
		margin-top: 68px;
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .main-site-logo-wrapper {
		margin-top: 0;
	}
}


.media-block,
.media {
	width: 100%;
	.wrapper {
		width: 100%;
		padding-top: 56%;
		iframe,
		object,
		embed,
		video {
			@extend .block-fit-parent;
			@extend .fit-parent;
		}
		video { background-color: rgba($color_ac_3, 0.95); }
	}
}
.page-content {
	.text {
		br {
			content: "";
			display: block;
			height: 18px;
		}
	}
}
.testimonial-block {
	.text {
		br {
			content: "";
			display: block;
			height: 15px;
		}
	}
}

// Above The Fold Section
#above-the-fold-section {
	.page-content {
		color: $color_ac_4;
		.text {
			margin-top: 15px;
		}
		.media {
			margin-top: 30px;
		}
	}
}
@media( max-width: 1199px ) {
	#above-the-fold-section {
		.page-content {
			width: 100%!important;
			margin-bottom: 0!important;
		}
	}
}
#above-the-fold-section.arrow-down {
	&:after {
		@extend .icon;
		@extend .icon-down:before;
		position: absolute;
		display: block;
		top: auto;
		right: auto;
		bottom: 35px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 16px;
		animation: bounce 1.5s infinite;
		animation-timing-function: ease-in-out;
	}
}
@media( max-width: 1199px ) {
	#above-the-fold-section.arrow-down {
		&:after {
			bottom: 25px;
		}
	}
}
@media( max-width: 767px ) {
	#above-the-fold-section.arrow-down {
		&:after {
			content: none;
		}
	}
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
}

.page-template-default {
	#above-the-fold-section {
		&>.container {
			padding-top: 175px;
			padding-bottom: 66px;
		}
		.page-content {
			padding: 42px 22px 36px;
			background-color: $color_bg_1;
			text-align: center;
			#main-site-logo {
				min-width: 200px;
				margin-bottom: 48px;
			}
		}
		.page-content-wrapper {
			width: 440px;
			z-index: 2;
			.shadow {
				@extend .block-hor-c;
				top: auto;
				bottom: -70px;
				width: 107%;
				height: 168px;
				@extend .icon-bg;
				background-image: url(images/shadow-1.png);
			}
		}
		.add-blocks-wrapper { margin-top: 55px; }
	}
}
@media (max-width: 1919px) {
	.page-template-default {
		#above-the-fold-section {
			.page-content-wrapper {
				width: calc(440px * 0.85);
			}
		}
	}
}
@media (max-width: 1199px) {
	.page-template-default {
		#above-the-fold-section {
			&>.container {
				padding-top: 68px;
			}
			.page-content-wrapper {
				width: 100%;
				.page-content { display: flex; }
				.shadow { display: none; }
				#main-site-logo { margin-right: 40px; }
			}
			.above-the-fold-wrapper {
				.wrapper-for-mobile-menu { order: 1; }
				.page-content-wrapper { order: 2; }
				.background-map-wrapper { order: 4; }
				.add-blocks-wrapper {
					order: 3;
					margin-top: 20px!important;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	body.page-template-default {
		#above-the-fold-section {
			&>.container {
				padding-top: 15px;
			}
			.page-content {
				flex-wrap: wrap;
				#main-site-logo { margin-right: 0!important; }
				#main-site-logo,
				.inner {
					width: 100%;
				}
			}
			.above-the-fold-wrapper {
				.add-blocks-wrapper { width: 100%; }
			}
		}
	}
}

	// Simple Template
.page-template-page-simple {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 95px;
		}
	}
}

	// Services Template
.page-template-page-services {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 145px;
		}
		.main-site-logo-wrapper { margin-bottom: 50px; }
	}
}
.above-the-fold-wrapper.services-wrapper {
	.add-blocks-wrapper {
		margin-top: -134px;
	}
}
@media( max-width: 1199px ) {
	body .above-the-fold-wrapper.services-wrapper {
		margin-bottom: 0;
	}
}

	// About Us Template
.page-template-page-about-us {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 90px;
		}
		.page-content {
			width: 598px;
		}
		.add-blocks-wrapper { margin-top: -168px; }
	}
}
@media (max-width: 1919px) {
	.page-template-page-about-us {
		#above-the-fold-section {
			.page-content { width: calc(598px * 0.85); }
		}
	}
}

	// Contact Us Template
.page-template-page-contact-us {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 73px;
		}
		.page-content-wrapper {
			width: 756px;
			.page-content,
			.address-wrapper {
				width: 598px;
			}
			.contacts-wrapper {
				width: 100%;
				padding: 35px 40px 40px 32px;
				margin-top: 60px;
				border: 1px solid $color_ac_4;
				border-radius: 4px;
				a:last-of-type { margin-top: 33px; }
			}
			.address-wrapper {
				margin-top: 28px;
				color: $color_ac_4;
				.title {
					text-transform: uppercase;
					font-weight: 700;
				}
				.address { margin-top: 10px; }
				a {
					color: $color_ac_4;
					@extend .text-decor-none;
					&:hover,
					&:active {
						color: $color_hc_1;
					}
				}
			}
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-contact-us {
		#above-the-fold-section {
			.page-content-wrapper {
				width: calc(756px * 0.85);
				.page-content,
				.address-wrapper {
					width: calc(598px * 0.85);
				}
			}
		}
	}
}
@media( max-width: 1199px ) {
	body.page-template-page-contact-us {
		#above-the-fold-section {
			.page-content-wrapper {
				max-width: calc(756px * 0.85);
				width: 100%;
				.page-content,
				.address-wrapper {
					max-width: calc(598px * 0.85);
					width: 100%;
				}
				.contacts-wrapper {
					margin-top: 40px;
					.phone-wrapper,
					.email-wrapper {
						padding: 0;
					}
				}
			}
		}
	}
}
@media( max-width: 767px ) {
	body.page-template-page-contact-us #body-wrapper {
		#above-the-fold-section {
			.page-content-wrapper {
				.contacts-wrapper {
					padding: 20px 30px 23px 22px!important;
					.phone-contents-wrapper {
						flex-wrap: wrap;
					}
					.email-wrapper { margin: 0!important; }
				}
			}
		}
	}
}


	// Testimonials Template
.page-template-page-testimonials {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 84px;
		}
		.page-content {
			width: 598px;
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-testimonials {
		#above-the-fold-section {
			.page-content {
				width: calc(598px * 0.85);
			}
		}
	}
}

	// Careers Template
.page-template-page-careers {
	#above-the-fold-section {
		&>.container {
			padding-bottom: 98px;
		}
		.page-content {
			width: 598px;
			max-width: 100%;
		}
		.add-blocks-wrapper {
			.block {
				width: 440px;
				max-width: 100%;
			}
			.media-block { width: 100%!important; }
		}
	}
}
@media (max-width: 1919px) {
	.page-template-page-careers {
		#above-the-fold-section {
			.page-content {
				width: calc(598px * 0.85);
			}
		}
	}
}

	// Projects Template
.page-template-page-projects {
	#site-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#above-the-fold-section {
		flex-grow: 1;
		&>.container {
			padding-bottom: 93px;
		}
		.page-content { width: 598px; }
	}
}
@media (max-width: 1919px) {
	.page-template-page-projects {
		#above-the-fold-section {
			.page-content { width: calc(598px * 0.85); }
		}
	}
}

	// Background Map
.background-map-wrapper {
	display: flex;
	flex-grow: 1;
	min-height: 850px;
	margin-top: -175px;
	.background-map-inner { display: flex!important; }
}
@media( max-width: 1199px ) {
	.background-map-wrapper {
		min-height: 750px;
		margin-top: -142px;
		margin-right: -31px;
		overflow: visible;
		.background-map-inner {
			overflow: visible;
			img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: auto;
				height: 100%;
				max-width: none;
			}
		}
	}
}
@media( max-width: 767px ) {
	body .background-map-wrapper {
		min-height: 586px;
		margin-top: -175px;
		margin-right: 0;
		margin-left: 0;
		.background-map-inner {
			img {
				right: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

	// Above The Fold List Wrapper
.above-the-fold-list-wrapper {
	width: 166px;
	margin: calc(175px + 83px) 30px 15px auto;
	color: $color_ac_4;
	.title {
		margin-bottom: 9px;
		text-transform: none;
		line-height: 1.25;
	}
	ul {
		padding-right: 16px;
		margin-bottom: -10px;
	}
	li {
		padding-left: 18px;
		margin-bottom: 10px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			right: auto;
			bottom: auto;
			border-radius: 50%;
		}
		&:before {
			top: 3.5px;
			left: 0;
			width: 7px;
			height: 7px;
			background-color: $color_ac_4;
		}
		&.bold {
			&:after {
				top: 1.5px;
				left: -2px;
				width: 11px;
				height: 11px;
				border: 1px solid $color_ac_4;
			}
		}
		&.bold.colored {
			&:before { background-color: $color_hc_1; }
			&:after { border: 1px solid $color_hc_1; }
		}
		&.light {
			&:before {
				background-color: transparent;
				border: 1px solid $color_ac_4;
			}
		}
		&.light.colored {
			&:before { border: 1px solid $color_hc_1; }
		}
		&.colored {
			color: $color_hc_1;
		}
	}
}
@media( max-width: 1199px ) {
	.above-the-fold-list-wrapper {
		margin: calc(142px + 44px) 31px 15px auto;
	}
}
@media( max-width: 767px ) {
	body .above-the-fold-list-wrapper {
		margin: calc(175px + 25px) 0 15px 0;
	}
}

	// Add Blocks Wrapper
.add-blocks-wrapper {
	display: inline-flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 440px;
	margin-left: auto;
	margin-bottom: 40px;
	.block {
		width: 100%;
		padding: 20px 20px 24px;
		margin-bottom: 20px;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		color: $color_ac_4;
	}
	.media-block {
		padding: 0!important;
		border: 0 solid transparent!important;
	}
}
.no-background {
	.add-blocks-wrapper {
		.block {
			color: $color_ac_3;
		}
	}
}
@media (max-width: 1919px) {
	.add-blocks-wrapper {
		width: calc(440px * 0.85);
	}
}
@media( max-width: 1199px ) {
	body .add-blocks-wrapper {
		width: 100%;
		margin-top: 60px!important;
		margin-left: 0!important;
		justify-content: flex-start;
	}
	.page-template-default {
		.add-blocks-wrapper {
			width: 338px;
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .add-blocks-wrapper {
		width: 100%;
		margin-top: 40px!important;
		margin-bottom: 20px;
	}
}

	// Quote Block
.quote-block {
	ul {
		margin-top: 15px;
		li { line-height: 1.34; }
	}
	.btn { margin-top: 30px; }
}
@media( max-width: 767px ) {
	.page-template-default {
		.quote-block {
			ul li:nth-of-type(n+4),
			.btn {
				display: none;
			}
		}
	}
}

	// Call Us Block
.call-us-block {
	padding: 20px!important;
	.title { margin-bottom: 23px; }
	.phone-wrapper {
		margin-bottom: 3px;
		&:hover,
		&:active {
			.icon-phone:before,
			.phone {
				color: $color_hc_4;
			}
		}
	}
	.icon-phone {
		font-size: 30px;
		margin-right: 10px;
	}
	.icon-phone:before,
	.phone {
		transition: color 0.1s ease-in-out;
	}
	.phone { color: $color_hc_1; }
}

// Contact Form
.contact-form-block {
	max-width: 440px;
	padding: 20px 30px 23px 22px!important;
	.title {
		max-width: 360px;
		margin-bottom: 20px;
	}
}
@media( max-width: 479px ) {
	.contact-form-block {
		fieldset {
			display: flex;
			flex-wrap: wrap;
			label,
			.wpcf7-form-control-wrap {
				display: block;
				width: 100%;
			}
			label {
				max-width: none;
				padding: 10px 0;
				&>span { min-height: 0; }
			}
		}
	}
}

// List Blocks
.page-content,
.quote-block,
.block-with-list {
	.list {
		margin-bottom: -10px;
		li {
			padding-left: 20px;
			margin-bottom: 10px;
			&:before {
				@extend .icon;
				@extend .icon-check;
				position: absolute;
				display: block;
				top: 7px;
				right: auto;
				bottom: auto;
				left: 0;
				font-size: 10px;
			}
		}
		li.highlight {
			color: $color_hc_1;
			font-weight: 700;
			letter-spacing: -0.02em;
			&:before,
			&:after {
				color: $color_hc_1!important;
			}
		}
	}
}
body .block-with-list {
	.list {
		margin-bottom: -15px;
		li { margin-bottom: 15px; }
	}
}


// About Us Section
.about_us_section { padding-bottom: 95px; }
.about-us-wrapper {
	margin-top: 18px;
	.icon-wrapper {
		min-width: 110px;
		max-width: 110px;
	}
	.block {
		display: flex;
		width: 597px;
		margin-bottom: 90px;
		&:nth-of-type(1) {
			.icon-wrapper {
				.icon:before {
					@extend .icon-bulb:before;
					font-size: 108px;
				}
			}
		}
		&:nth-of-type(2) {
			.icon-wrapper {
				.icon:before {
					@extend .icon-shield:before;
					font-size: 109px;
				}
			}
		}
		&:nth-of-type(2n+2) {
			margin-left: auto;
		}
		.title,
		.text {
			width: 100%;
		}
		.title {
			color: $color_hc_2;
			margin-bottom: 14px;
			text-transform: uppercase;
		}
		.text { margin-bottom: 30px; }
		.link {
			display: inline-block;
			padding-right: 18px;
			align-self: flex-end;
			font-weight: 700;
			line-height: 1.333;
			color: $color_hc_2;
			text-transform: uppercase;
			@extend .text-decor-none;
			&:after {
				@extend .icon;
				@extend .icon-arrow-right:before;
				@extend .block-vert-c;
				right: 0;
				font-size: 12px;
				color: $color_hc_2;
				transition: color 0.1s ease-in-out;
			}
			&:hover,
			&:active {
				color: $color_hc_1;
				&:after {
					color: $color_hc_1;
				}
			}
		}
		.icon-wrapper { padding-top: 5px; }
	}
}
@media (max-width: 1919px) {
	.about-us-wrapper {
		.block {
			width: calc(597px * 0.85);
		}
	}
}
@media( max-width: 1199px ) {
	body .about_us_section { padding-bottom: 0; }
	.about-us-wrapper {
		margin-top: 0;
		.block {
			width: 100%;
			max-width: 560px;
			margin-bottom: 58px;
			&:nth-of-type(2n+2) {
				margin-left: 0;
			}
			&:nth-of-type(n+0) {
				.icon-wrapper {
					.icon:before {
						font-size: 86px;
					}
				}
			}
			.icon-wrapper {
			    min-width: 92px;
			    max-width: 92px;
			}
		}
	}
}
@media( max-width: 767px ) {
	body .about-us-wrapper {
		.block {
			flex-wrap: wrap;
			margin-bottom: 40px;
			&:nth-of-type(n+0) {
				.icon-wrapper {
					padding: 0 0 17px;
					.icon:before {
						font-size: 43px;
					}
				}
			}
			.icon-wrapper,
			.content-wrapper {
			    min-width: 100%;
			    max-width: 100%;
			    width: 100%
			}
		}
	}
}

.about-us-wrapper,
.services-wrapper {
	.icon-wrapper {
		padding-right: 20px;
		.icon {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}

// Services Section
.services_section { padding-bottom: 40px; }
.services-wrapper {
	.page-content,
	.right-block {
		margin-bottom: 90px;
	}
	.icon-wrapper {
		min-width: 113px;
		max-width: 113px;
	}
	.page-content {
		display: flex;
		width: 597px;
		margin-right: 60px;
		margin-bottom: 90px;
		.content-wrapper { margin-top: 2px; }
		.title {
			color: $color_ac_4;
			margin-bottom: 13px;
		}
		.list {
			margin-bottom: 0;
			li {
				color: $color_hc_3;
				&:before { color: $color_hc_3; }
			}
		}
		.additional-text {
			font-size: 16px;
			line-height: 1.56;
			color: $color_hc_1;
			text-transform: none;
		}
		.btn { margin-top: 36px; }
		.icon-wrapper {
			.icon:before {
				@extend .icon-services:before;
				font-size: 156px;
			}
		}
	}
	.right-block {
		width: 756px;
		margin-left: auto;
		.default-content-section-block {
			margin-bottom: 34px;
			&:last-of-type { margin-bottom: 0; }
			.title-wrapper {
				@extend .flex-vert-c;
				width: 316px;
				min-height: 32px;
				.decor {
					flex-grow: 1;
					opacity: 0;
					height: 1px;
					background-color: $color_ac_4;
					transition: opacity 0.1s ease-in-out;
				}				
				&:hover,
				&:active {
					.title {
						color: $color_ac_4;
						text-decoration: underline;
						&:before {
							@extend .icon-minus:before;
							color: $color_ac_4;
						}
					}
					.decor {
						opacity: 1;
					}				
					&+.text { opacity: 1; }
				}
			}
			.title {
				width: auto;
				max-width: calc(100% - 47px - 30px);
				padding-right: 8px;
				margin-left: 47px;
				color: $color_hc_4;
				line-height: 1.2;
				text-transform: none;
				text-decoration: none;
				transition: color 0.1s ease-in-out;
				&:before {
					@extend .icon;
					@extend .icon-plus:before;
					position: absolute;
					top: 2px;
					right: auto;
					left: -45px;
					bottom: auto;
					font-size: 32px;
					transition: color 0.1s ease-in-out;
				}
				&:after {
					@extend .icon-minus:before;
					@extend .visuallyhidden;
				}
			}
			.text {
				@extend .block-vert-c;
				right: 33px;
				left: auto;
				width: calc(100% - 316px - 33px);
				padding: 10px 15px;
				color: $color_ac_4;
				border: 1px solid $color_ac_4;
				border-radius: 4px;
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
			}
		}
	}
}
@media (max-width: 1919px) {
	.services-wrapper {
		.page-content {
			min-width: calc(597px * 0.85);
			width: calc(597px * 0.85);
		}
		.right-block {
			max-width: calc(753px * 0.85);
			width: auto;
			flex-grow: 1;
			.default-content-section-block {
				.text {
					right: 0;
					width: calc(100% - 316px);
				}
			}
		}
	}
}
@media( max-width: 1199px ) {
	.services_section { padding-bottom: 0; }
	.services-wrapper {
		flex-wrap: wrap;
		.page-content,
		.right-block {
			margin-bottom: 60px;
		}
		.page-content {
			min-width: 0;
			width: 100%;
			max-width: 576px;
			margin-right: 0;
			.icon-wrapper {
				min-width: 93px;
				max-width: 93px;
				.icon:before {
					font-size: 124px;
				}
			}
		}
		.right-block {
			max-width: none;
			width: 100%;
			padding-left: 93px;
			.default-content-section-block {
				.title {
					&:before {
						top: 0;
					}
				}
				.title-wrapper {
					width: 295px;
				}
				.text {
					width: calc(100% - 295px);
				}
				&:first-of-type {
					.text {
						top: calc(50% - 42px);
						bottom: auto;
						transform: none;
					}
				}
				&:last-of-type {
					.text {
						top: auto;
						bottom: calc(50% - 42px);
						transform: none;
					}
				}
			}
		}
	}
}
@media( max-width: 767px ) {
	body .services_section { padding-bottom: 42px; }
	body .services-wrapper {
		margin-bottom: -28px;
		.page-content,
		.right-block {
			margin-bottom: 28px;
		}
		.page-content {
			max-width: none;
			flex-wrap: wrap;
			.icon-wrapper {
				min-width: 100%;
				max-width: 100%;
				.icon { margin-bottom: 18px; }
				.icon:before {
					font-size: 62px;
				}
			}
			.btn { display: none; }
		}
		.right-block {
			padding-left: 0;
			.default-content-section-block {
				.title {
					&:before {
						top: -3px;
					}
				}
				.title-wrapper {
					width: 100%;
					.decor { display: none; }
				}
				.text {
					width: 100%;
					position: relative;
					opacity: 1;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: none;
					margin-top: 26px;
					transform: none;
				}
			}
		}
	}
}

// Default Content Section
.default_content_section {
	padding-bottom: 111px;
	.title-block-wrapper { margin-bottom: 88px; }
}
.default-content-wrapper {
	color: $color_ac_4;	
	.section-content,
	.right-block {
		width: 440px;
	}
	.section-content {
		.text { margin-top: 12px; }
		.media {
			width: 100%;
			margin-top: 27px; 
		}
	}
	.right-block {
		padding: 20px 20px 24px;
		margin-top: -120px;
		margin-left: auto;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		.block {
			margin-bottom: 50px;
			&:last-of-type { margin-bottom: 0; }
			.title {
				font-size: 25px;
				letter-spacing: 0;
				line-height: 1.2;
			}
			.text,
			.list {
				margin-top: 12px;
			}
		}
		.block-with-list {
			ul {
				list-style-type: none;
				li { line-height: 1.34; }
			}
		}
	}
}
@media (max-width: 1919px) {
	.default-content-wrapper {
		.section-content,
		.right-block {
			width: calc(440px * 0.85);
		}
		.right-block .block {
			.title { font-size: calc(25px * 0.85); }
		}
	}
}
@media (max-width: 1199px) {
	.default_content_section { padding-bottom: 60px; }
	body .default-content-wrapper {
		.section-content,
		.right-block {
			width: 100%;
		}
		.right-block {
			margin-top: 60px;
			margin-left: 0;
		}
	}
}
@media (max-width: 767px) {
	body .default_content_section { padding-bottom: 40px; }
	body #body-wrapper .default-content-wrapper {
		.right-block { margin-top: 40px; }
	}
}


// Team Section
.team_section {
	padding-bottom: 121px;
	.title-block-wrapper { margin-bottom: 60px; }
	.section-content {
		.title-wrapper {
			width: 100%;
			max-width: 598px;
			@extend .flex-vert-c;
			margin-bottom: 37px;
			color: $color_hc_2;
			.icon {
				font-size: 80px;
				margin-right: 33px;
				&:before {
					@extend .icon-team:before;
				}
			}
		}
	}
}
.team-wrapper {
	margin: 0 -15px -35px;
	.team-block {
		width: calc(20% - 30px);
		margin: 0 15px 41px;
		text-align: center;
		p { line-height: 1.333; }
		.img-wrapper {
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 18px;
			img {
				border-radius: 4px;
				@extend .block-c;
			}
		}
		.name,
		.position {
			color: $color_hc_2;
		}
		.contact-info-wrapper {
			margin-top: 15px;
		}
		.phone,
		.email {
			@extend .text-decor-none;
			color: $color_hc_1;
			&:hover,
			&:active {
				color: $color_hc_2;
			}
		}
		.name {
			line-height: 1.25;
		}
	}
}
@media (max-width: 1919px) {
	body .team-wrapper {
		.team-block {
			width: calc(25% - 30px);
		}
	}
}
@media( max-width: 1119px ) {
	body #body-wrapper .team-wrapper {
		.team-block {
			width: calc(100% / 3 - 30px);
		}
	}
	body .team_section {
		padding-bottom: calc(121px * 0.66);
		.section-content {
			.title-wrapper {
				.icon {
					font-size: calc(80px * 0.66);
					margin-right: calc(33px * 0.66);
				}
			}
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper section .team-wrapper {
		.team-block {
			width: calc(50% - 30px);
		}
	}
	body #body-wrapper .team_section {
		padding-bottom: calc(121px * 0.44);
	}
}
@media( max-width: 479px ) {
	.team-wrapper {
		.team-block {
			width: 100%!important;
			max-width: 284px;
		}
	}
}


// History Section
.history_section {
	padding-bottom: 177px;
	background-color: $color_bg_3;
	[data-aos] { transform: translateY(15px); }
	.title-block-wrapper {
		margin-bottom: 115px;
	}
	.section-content {
		.title-wrapper {
			@extend .flex-vert-c;
			width: 100%;
			max-width: 598px;
			margin-bottom: 52px;
			color: $color_hc_2;
			.icon {
				font-size: 80px;
				margin-right: 33px;
				&:before {
					@extend .icon-history:before;
				}
			}
		}
	}
}
@media( max-width: 1199px ) {
	body .history_section {
		padding-bottom: calc(177px * 0.66);
		.section-content {
			.title-wrapper {
				.icon {
					font-size: calc(80px * 0.66);
					margin-right: calc(33px * 0.66);
				}
			}
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .history_section {
		padding-bottom: calc(177px * 0.44);
	}
}

.history-wrapper {
	display: flex;
	.history-block {
		display: flex;
		flex-direction: column;
		min-width: 283.5px;
		max-width: 283.5px;		
		margin-right: 13px;
		margin-left: 13px;
		text-align: center;
		.decor-vert-line {
			flex-grow: 1;
			min-height: 30px;
			&:before {
				content: '';
				@extend .block-hor-c;
				top: 0;
				bottom: 0;
				width: 1px;
				background-color: $color_ac_3;
			}
			&:after {
				content: '';
				@extend .block-hor-c;
				top: auto;
				bottom: -4px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $color_ac_3;
			}
		}
		.date {
			margin-bottom: 8px;
			color: $color_hc_2;
			.year { font-weight: 400; }
		}
		.text {
			padding-bottom: 8px;
		}
	}
	.main-year-block {
		@extend .flex-vert-b;
		.main-year {
			@extend .flex-vert-c;
			height: 80px;
			padding: 20px;
			margin-bottom: -40px;
			font-weight: 400;
			color: $color_ac_4;
			background-color: $color_bg_3;
			white-space: nowrap;
		}
	}
}

.nicescroll-rails.nicescroll-rails-hr {
	&:before {
		content: "";
		@extend .block-vert-c;
		right: 0;
		left: 0;
		height: 1px;
		border-bottom: 1px dashed $color_ac_3;
	}
}
.nicescroll-cursors {
	&:before,
	&:after {
		@extend .block-vert-c;
		@extend .icon;
		font-size: 15px;
	}
	&:before {
		right: auto;
		left: 11px;
		@extend .icon-arrow-slider:before;
		transform: rotate(180deg) translateY(-50%);
		transform-origin: 50% 0%;
	}
	&:after {
		right: 11px;
		left: auto;
		@extend .icon-arrow-slider:before;
	}
	.cursor-inner {
		@extend .block-c;
		width: 1px;
		height: 15px;
		background-color: $color_ac_4;
		&:before,
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: $color_ac_4;
		}
		&:before {
			left: -8px;
			right: auto;
		}
		&:after {
			left: auto;
			right: -8px;
		}
	}
}

.history-wrapper {
	.decor-line {
		position: absolute;
		display: block;
		top: auto;
		right: 0;
		bottom: 85px;
		left: 0;
		height: 1px;
		background: $color_ac_3;
	}
	.gradient {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 113px;
		z-index: 6;
	}
	.history-inner {
		padding-right: 113px;
		padding-bottom: 85px;
		padding-left: 113px;
		overflow-x: auto;
		width: 100%;
		z-index: 6;
	}
	.gradient-left {
		right: auto;
		left: 0;
		background: scrim-gradient(
			to right,
			$color_bg_3,
			transparent
		);
	}
	.gradient-right {
		right: 0;
		left: auto;
		background: scrim-gradient(
			to left,
			$color_bg_3,
			transparent
		);
	}
	.history-inner-wrapper {
		display: flex;
		flex-wrap: nowrap;
		z-index: 6;
	}
}


// Map Section
#google-maps-section {
	padding-top: 26%;
	min-height: 255px;
	#acf-map {
		@extend .block-fit-parent;
		img {
			max-height: none!important;
		}
	}
}
@media (max-width: 1439px) {
	#google-maps-section {
		padding-top: 33%;
	}
}


// Get a Quote Form
.get-a-quote-form-open {
	a[href='#get-a-quote-form'] { opacity: 0.25; }
}
.get-a-quote-form-block {
	#close-quote-form {
		position: absolute;
		top: 15px;
		right: 15px;
		@extend .icon;
		width: 24px;
		height: 24px;
		color: $color_bg_1;
		z-index: 9999;
		&:hover,
		&:active {
			color: $color_bg_1;
		}
		&:before {
			@extend .icon-close:before;
			@extend .block-c;
			font-size: 14px;
		}
	}
	&.hidden .get-a-quote-form-inner { opacity: 0; }
	.get-a-quote-form-inner {
		@extend .flex-c-column;
		display: inline-flex;
		max-width: 912px;
		padding: 30px 30px 34px;
		background-color: $color_ac_4;
		border-radius: 4px;
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
		p { text-align: center; }
		.title {
			color: $color_bg_1;
			text-align: center;
			max-width: 360px;
			@extend .margin-auto;
			margin-bottom: 27px;
		}
		.form-contents {
			display: flex;
			margin-right: -55px;
			.fieldset-wrapper { margin-right: 55px; }
		}
		fieldset { width: 384px; }
		fieldset.textarea-fieldset {
			width: 414px;
			label,
			.label {
				width: 76px;
			}
			.wpcf7-form-control-wrap { width: calc(100% - 76px); }
		}
		input,
		.input,
		textarea,
		.textarea {
			color: $color_bg_1;
			border: 1px solid $color_hc_5;
			border-radius: 4px;
			padding-right: 14px;
			padding-left: 14px;
			&.valid {
				border: 1px solid $color_hc_5!important;
			}
		}
		input,
		.input {
			line-height: 38px;
			&[type='submit'] { border: 0 solid transparent; }
		}
		textarea,
		.textarea {
			height: 142px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		label,
		.label {
			padding-left: 0;
			color: $color_hc_5;
		}
	}
	.success-message {
		max-width: 598px;
		color: $color_bg_1;
		.title { margin-bottom: 0; }
		.text {
			margin-top: 27px;
			line-height: 1.333;
		}
	}
}
@media( max-width: 1199px ) {
	body .get-a-quote-form-block {
		.get-a-quote-form-inner {
			max-width: 706px;
			.form-contents {
				margin-right: 0;
				flex-wrap: wrap;
				justify-content: center;

				.fieldset-wrapper {
					//width: 100%;
					margin-right: 0;
					margin-left: -80px;
				}
			}
			fieldset,
			fieldset.textarea-fieldset {
				width: 414px;
			}
			/*fieldset,
			fieldset.textarea-fieldset {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				label,
				.label,
				.wpcf7-form-control-wrap {
					display: block;
					width: 100%;
					max-width: 100%;
					min-width: 100%;
				}
				label,
				.label {
					padding: 10px 0;
					&>span { min-height: 0; }
				}
			}*/
		}
	}
}
@media( max-width: 619px ) {
	body .get-a-quote-form-block {
		.get-a-quote-form-inner {
			max-width: 100%;
			.title { margin-bottom: 15px; }
			.form-contents {
				.fieldset-wrapper {
					width: 100%;
					max-width: 360px;
					margin-left: 0;
				}
			}
			fieldset,
			fieldset.textarea-fieldset {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				label,
				.label,
				.wpcf7-form-control-wrap {
					display: block;
					width: 100%;
					max-width: 100%;
					min-width: 100%;
				}
				label,
				.label {
					padding: 10px 0;
					&>span { min-height: 0; }
				}
			}
		}
	}
}

@media( max-width: 479px ) {
	body .popup-wrapper .popup-cell {
		padding: 15px;
	}
	body .get-a-quote-form-block .get-a-quote-form-inner {
		padding-right: 15px;
		padding-left: 15px;
	}
}

// Testimonials Section
.testimonials-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: -15px;
	margin-top: calc(55px - 15px);
	.testimonial-block {
		width: calc(50% - 30px);
		padding: 27px 29px 22px;
		margin: 15px;
		color: $color_ac_4;
		border: 1px solid $color_ac_4;
		border-radius: 4px;
		.footnote {
			font-weight: 700;
			font-style: italic;
			margin-top: 30px;
		}
	}
}
@media( max-width: 1199px ) {
	body .testimonials-wrapper {
		margin-top: 45px!important;
		margin-bottom: -15px!important;
		.testimonial-block {
			width: calc(100% - 30px);
			margin: 15px;
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .testimonials-wrapper {
		margin-top: 25px!important;
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .testimonials-wrapper {
		.testimonial-block {
			padding: 27px 15px 22px;
		}
	}
}



// Leave Your Feedback Form
.feedback-form-block {
	margin-top: 70px;
	margin-bottom: 68px;
	.decor {
		position: absolute;
		display: block;
		top: auto;
		right: auto;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%) rotate(45deg);
		transform-origin: 50% 50%;
		background-color: $color_ac_4;
		width: 96px;
		height: 96px;
		z-index: 1;
	}
	form {
		max-width: 912px;
		padding: 50px 60px 57px;
		background-color: $color_ac_4;
		border-radius: 25px;
		z-index: 2;
		p { text-align: center; }
		.title {
			@extend .h1;
			color: $color_hc_2;
			text-align: center;
			max-width: 598px;
			@extend .margin-auto;
			margin-bottom: 32px;
		}
		.form-contents {
			display: flex;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
		}
		fieldset,
		.fieldset {
			width: calc(100% - 30px);
			margin-right: 15px;
			margin-left: 15px;
			margin-bottom: 15px!important;
			&.half { width: calc(50% - 30px); }
		    &.add-required {
		      label span:after,
		      .label span:after {
		        content: '*';
		        color: $color_ac_1;
		      }
		    }
		}
		input,
		.input,
		textarea,
		.textarea {
			color: #808080;
			border: 1px solid #808080;
			border-radius: 4px;
			padding-right: 14px;
			padding-left: 14px;
			&.valid {
				border: 1px solid #808080!important;
			}
		}
		input,
		.input {
			line-height: 38px;
			&[type='submit'] { border: 0 solid transparent; }
		}
		textarea,
		.textarea {
			height: 227px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		label,
		.label {
			padding-left: 0;
			margin-bottom: 10px;
			color: #808080;
			&>span { min-height: 0!important; }
		}
		fieldset,
		.fieldset,
		label,
		.label,
		.wpcf7-form-control-wrap {
			display: block!important;
		}
		label,
		.label,
		.wpcf7-form-control-wrap {
			width: 100%;
		}
		.wpcf7-form-control-wrap { margin-bottom: 0!important; }
	}
}
@media( max-width: 1199px ) {
	body .feedback-form-block {
		margin-top: 60px;
		margin-bottom: 128px;
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .feedback-form-block {
		margin-top: 40px;
		margin-bottom: 105px;
		.decor {
			width: calc(96px * 0.66);
			height: calc(96px * 0.66);
		}
		form {
			padding: 33px 40px 38px;
			fieldset,
			.fieldset {
				&.half { width: calc(100% - 30px); }
			}
		}
	}
}
@media( max-width: 479px ) {
	body #body-wrapper section .feedback-form-block {
		form {
			padding: 33px 15px 38px;
		}
	}
}


// Careers Wrapper
.page-template-page-careers {
	.above-the-fold-wrapper {
		margin: -15px;
		&>.left-block,
		&>.add-blocks-wrapper {
			width: calc(50% - 30px)!important;
			margin: 15px;
		}
	}
}
.careers-wrapper {
	width: 100%;
	margin-top: 75px;
	.careers-block {
		margin-bottom: 24px;
		color: $color_ac_4;
		&.active {
			.title-wrapper {
				.title {
					color: $color_hc_1;
					&:before {
						@extend .icon-minus:before;
						color: $color_hc_1!important;
					}
				}
			}
			.title { color: $color_hc_1!important; }
		}
		.block { margin-bottom: 20px; }
		.title-wrapper {
			@extend .flex-vert-c;
			@extend .text-decor-none;
			padding-bottom: 10px;
			color: $color_ac_4;
			.title {
				margin-left: 47px;
				text-transform: none;
				letter-spacing: 0;
				line-height: 1.2;
				&:before {
					@extend .icon;
					@extend .icon-plus:before;
					position: absolute;
					top: 2px;
					right: auto;
					left: -47px;
					bottom: auto;
					font-size: 32px;
					color: $color_ac_4!important;
					transition: color 0.1s ease-in-out;
				}
				&:after {
					@extend .icon-minus:before;
					@extend .visuallyhidden;
				}
			}
			&:hover,
			&:active {
				.title {
					color: $color_hc_1;
					&:before {
						@extend .icon-minus:before;
						color: $color_hc_1!important;
					}
				}
			}
		}
		.content-wrapper {
			display: none;
			padding-top: 16px;
			padding-right: 1px;
			border-bottom: 1px solid $color_ac_4;
			.title {
				font-weight: 700;
				text-transform: uppercase;
			}
			.text,
			.list {
				margin-top: 10px;
			}
			.list {
				list-style-type: none;
				margin-bottom: 0;
				li { margin-bottom: 10px; }
			}
		}
		.footnote-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-top: 45px;
			margin-bottom: 26px;
			.text {
				margin-top: 0;
				@extend .nbsp-after;
			}
			a {
				@extend .text-decor-none;
				color: $color_hc_1;
				&:hover,
				&:active {
					color: $color_hc_2;
				}
			}
		}
	}
}
@media( max-width: 1199px ) {
	body .careers-wrapper {
		margin-top: 40px;
		margin-bottom: -24px;
	}
	body.page-template-page-careers {
		.above-the-fold-wrapper {
			&>.left-block,
			&>.add-blocks-wrapper{
				width: calc(100% - 30px)!important;
			}
			&>.left-block {
				margin-bottom: 0;
			}
			&>.add-blocks-wrapper {
				margin-right: 15px!important;		
				margin-bottom: 55px;
				margin-left: 15px!important;
			}
		}
	}
}
@media( max-width: 767px ) {
	body.page-template-page-careers {
		.above-the-fold-wrapper {
			&>.add-blocks-wrapper {
				margin-bottom: 35px;
			}
		}
	}
}


// Projects Section
.projects-wrapper {
	margin: 6px -12px -15px;
	.projects-block {
		width: calc(20% - 30px);
		margin: 12px 15px;
		@extend .text-decor-none;
		.inner {
			width: 100%;
			padding-top: 71.2%;
		}
		&:hover,
		&:active {
			.contents-wrapper {
				&:after,
				&:before {
					opacity: 0!important;
				}
				.hover-bg,
				.icon {
					opacity: 1!important;
				}
			}
		}
		.contents-wrapper,
		.image {
			@extend .block-fit-parent;
		}
		.image { @extend .section-bg; }
		.contents-wrapper {
			@extend .flex-vert-b;
			display: flex!important;
			padding: 19px 23px;
			color: $color_ac_4;
			.icon {
				position: absolute;
				top: 20px;
				right: 23px;
				bottom: auto;
				left: auto;
				&:before {
					@extend .icon-plus:before;
					font-size: 34px;
					color: $color_ac_4;
				}
			}
			.hover-bg {
				@extend .block-fit-parent;
				background-color: rgba($color_hc_1, 0.8);
			}
			.icon,
			.hover-bg {
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
				z-index: 3;
			}
			.title {
				font-size: 16px;
				line-height: 1.25;
				z-index: 4;
				@extend .line-clamp;
				@extend .line-clamp-3;
			}
			&:before,
			&:after {
				transition: opacity 0.2s ease-in-out!important;
				opacity: 1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 30%;
				left: 0;
				background: scrim-gradient(
					to bottom,
					transparent,
					rgba($color_bg_1, 0.35)
				);
			}
			&:after {
				content: '';
				position: absolute;
				top: 70%;
				right: 0;
				bottom: 0;
				left: 0;
				background: scrim-gradient(
					to bottom,
					rgba($color_bg_1, 0.35),
					rgba($color_bg_1, 0.7)
				);
			}
		}
		.lightbox-contents {
			position: absolute;
			opacity: 0;
			left: -999999px;
		}
	}
}
@media (max-width: 1919px) {
	body .projects-wrapper {
		.projects-block {
			width: calc(25% - 30px);
		}
	}
}
@media( max-width: 1199px ) {
	body .projects-wrapper {
		margin-bottom: 45px;
		.projects-block {
			width: calc((100% / 3) - 30px);
		}
	}
}
@media( max-width: 767px ) {
	body #body-wrapper .projects-wrapper {
		margin-bottom: 25px;
		.projects-block {
			width: calc(50% - 30px);
		}
	}
}
@media( max-width: 479px ) {
	body #body-wrapper section .projects-wrapper {
		.projects-block {
			width: 100%;
			max-width: 341px;
		}
	}
}

#projects-popup-wrapper {
	right: -300vw;
	opacity: 0;
	pointer-events: none;
	&.active {
		right: 0;
		opacity: 1;
		pointer-events: initial;
	}
}
#projects-popup-cell {
	padding: 30px 65px;
}
.projects-popup {
	position: absolute;
	display: inline-block;
	width: 100%;
	max-width: 1112px;
	padding: 45px 100px;
	background-color: $color_ac_4;
	border-radius: 10px;
	right: -300vw;
	opacity: 0;
	pointer-events: none;
	.arrow {
		position: absolute;
		//top: 32%;
		top: 298px;
		bottom: auto;
		padding: 10px;
		@extend .icon;
		font-size: 30px;
		@extend .text-decor-none;
		&:before { color: $color_hc_3; }
		&:active,
		&:hover,
		&:focus {
			&:before { color: $color_hc_1; }
		}
	}
	.arrow-left {
		right: auto;
		left: -22px;
		transform: translate(-100%,-50%) rotate(180deg);
		transform-origin: 50% 50%;
		&:before { @extend .icon-arrow-right:before; }
	}
	.arrow-right {
		right: -22px;
		left: auto;
		transform: translate(100%,-50%);
		&:before { @extend .icon-arrow-right:before; }
	}
	&.active-project {
		position: relative;
		right: 0;
		opacity: 1;
		pointer-events: initial;
	}
	.title,
	.location,
	.description {
		color: $color_bg_1!important;
	}
	.title,
	.location {
		text-align: center;
	}
	.location { margin-top: 6px; }
	.description {
		margin-top: 18px;
		text-align: left;
	}
	.slider-wrapper {
		//width: 912px;
		width: 100%;
		padding-top: 71%;
		margin-top: 18px;
		.lSSlideOuter { @extend .block-fit-parent; }
		.lSSlideWrapper {
			width: 100%;
		    height: 100%;
		    margin-bottom: 0;
		    box-shadow: none;
		    border: 0 solid transparent;
		}
		.lightslider,
		.lightslider-item {
			height: 100%!important;
		}
		.lSAction { display: none!important; }
		.lSPager {
			position: absolute;
			top: auto;
			right: auto;
			bottom: 0;
			left: 50%;
			padding-bottom: 22px;
			transform: translateX(-50%);
			line-height: 1;
			li {
				padding-right: 3px;
				padding-left: 3px;
				line-height: 1;
				a {
					width: 12px;
					height: 12px;
					background-color: rgba($color_ac_4, 0.5);
					line-height: 1;
					transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
				}
			}
			li.active,
			li:hover,
			li:active {
				a {
					border: 1px solid $color_ac_4;
					background-color: rgba($color_hc_1, 1);
				}
			}
		}
	}
}
@media( max-width: 1199px ) {
	body .projects-popup {
		padding: 30px 45px;
		.arrow-left {
			left: -13px;
		}
		.arrow-right {
			right: -13px;
		}
		.slider-wrapper .lSPager { padding-bottom: 15px; }
	}
}
@media( max-width: 767px ) {
	body #body-wrapper #projects-popup-cell {
	    padding: 30px 45px;
	}
	body #body-wrapper .projects-popup {
		padding: 30px;
		.arrow { font-size: 25px; }
		.arrow-left {
			left: -5px;
		}
		.arrow-right {
			right: -5px;
		}
		.slider-wrapper .lSPager { padding-bottom: 10px; }
	}
}
@media( max-width: 479px ) {
	body #body-wrapper #projects-popup-cell {
	    padding: 15px;
	}
	body #body-wrapper .projects-popup {
		padding: 30px 45px;
		.arrow-left {
			left: 5px;
			transform: translate(0,-50%) rotate(180deg);
		}
		.arrow-right {
			right: 5px;
			transform: translate(0,-50%);
		}
	}
}